/* homePage.css */

* {
    box-sizing: border-box;
}

/** For global Use **/
#main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.centerAlign {
    align-items: center;
    z-index: 2;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

div, h1, h2, h3 {
    margin: 0px;
    text-transform: capitalize;
}

h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

button.startPlanning {
    background-color: #334B48;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-top: 6px;
    font-family: 'Open Sans', sans-serif;
}

button.startPlanning:hover {
    background-color: #2B3E3A;
}

#stickyBanner {
    z-index: 3;
}

/* Specific styles for login and sign-up pages */
.login-page {
    background-color: white; /* Set a specific background color for login page */
}

.signup-page {
    background-color: white; /* Set a specific background color for sign-up page */
}

/* Keyframes for the slow fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.background-image.visible {
    opacity: 1;
}

.place-name {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 3;
    text-align: right;
    font-size: 10px !important; /* Decreased font size with !important */
    font-family: 'Open Sans', sans-serif !important; /* Changed font to Open Sans with !important */
}

.navigation-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.nav-button {
    background: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}

.nav-line {
    width: 2px;
    height: 100px;
    background: white;
    margin: 10px 0;
}
