* {
    box-sizing: border-box;
}

/** For global Use **/
#main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Remove separate overflow-x and overflow-y */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1; /* Initial opacity to ensure the element is fully visible */
    transition: background-image 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Adjust transition properties */
}

.fade {
    opacity: 0; /* Set opacity to 0 to fade out */
}

.centerAlign {
    align-items: center;
    z-index: 2; /* Ensure the content stays above the overlay */
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

div, h1, h2, h3 {
    margin: 0px;
    text-transform: capitalize;
}

h1 {
    font-size: 120px;
    color: white;
}

h2 {
    font-size: 72px;
}

button.startPlanning {
    background-color: #334B48;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

button.startPlanning:hover {
    background-color: #2B3E3A;
}

#stickyBanner {
    z-index: 3;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
