
.invite-page-container {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url('../../../components/switzerland.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure it covers the full viewport height */
}

.invite-page-main {
    margin-top: 50px;
    text-align: left;
}

.invite-page-main h1 {
    font-size: 52px;
    margin-bottom: -10px;
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
}

.invite-description {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
}

.invite-form-box {
    background-color: #ffffffb6;
    padding: 40px 80px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.352);
    margin-top: 20px;
    margin-left: 40px;
    width: 700px;
    margin-bottom: 20px;
}

.invite-form-group {
    margin-bottom: 20px;
    text-align: left;
    width: 500px;
}

.invite-form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.invite-form-group input,
textarea,
input[type="text"] {
    font-size: 16px;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    width: 450px;
    padding: 10px;
    border: 1px solid #ced4da;
}

.invite-form-group input:focus,
textarea:focus,
input[type="text"]:focus {
    border-color: #96b1ad;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 255, 253, 0.5);
}

.send-invite-button {
    background-color: #015a6c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    width: auto;
    transition: transform 0.2s;
}

.copy-link-button {
    padding: 10px 20px;
    background-color: #015a6c;
    margin-top: 10px;
    cursor: pointer;
}

.next-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
}

.invite-list {
    list-style: none;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    border-radius: 4px;
    min-height: 100px;
    max-height: 150px;
    overflow-y: auto;
    width: 450px;
    box-sizing: border-box;
    text-transform: none;
}

.invite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 16px;
   
}

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
}

.delete-button:hover {
    color: darkred;
}
