.trip-detail-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

main {
  margin-top: 90px; /* Ensure the content is not hidden behind the fixed banner */
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.form-group input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin: 0 10px;
}

.next-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 14px;
}
