.trip-detail-container {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 80%;
  margin: auto;
  text-align: left;
}

main {
  margin-top: -15px;
}

.trip-detail-container h1 {
  font-size: 52px;
  margin-bottom: 10px;
  margin-top: 70px;
  text-align: center;
  color: #0c0c0c;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 190px;
  text-align: center;
  color: #0c0c0c;
}

.form-box {
  background-color: #fff;
  padding: 40px 40px 20px 160px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.352);
  margin-top: 20px;
  margin-left: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input,
.react-datepicker-wrapper,
.custom-date-picker,
.location-group .input-container .css-yk16xz-control {
  font-size: 16px;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  width: 100%;
}

.form-group input:focus,
.custom-date-picker:focus,
.location-group .input-container .css-yk16xz-control--is-focused {
  border-color: #96b1ad;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 255, 253, 0.5);
}

.location-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-group .input-container {
  flex: 1;
  min-width: 250px;
  margin-right: 30px;
}

.when-group .date-group {
  display: flex;
  align-items: center;
}

.start-date,
.end-date {
  width: 250px !important;
}

.time-select-container {
  width: 380px;
  margin-left: -80px;
}

.time-select .css-yk16xz-control {
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.time-select .css-yk16xz-control--is-focused {
  border-color: #96b1ad;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 255, 253, 0.5);
}


.people-count {
  width: 250px !important;
}

.next-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
}

.error {
  color: red;
  font-size: 14px;
}

.left-align {
  text-align: left;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-group input {
  margin-right: 10px;
}

.date-group span {
  margin: 0 10px;
}

.custom-date-picker {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  transition: border-color 0.3s ease;
}

.custom-date-picker:focus {
  border-color: #96b1ad;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.accommodation-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  
}

.accommodation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: auto;
  border: 1px solid #ced4da;
  background-color: #0f1a1c;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  font-size: 16px;
}

.accommodation-button.selected {
  background-color: #135163;
  color: #fff;
}

.accommodation-button:active {
  transform: scale(1.1);
}

.accommodation-details {
  margin-top: 5px;
}

.accommodation-details label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.accommodation-details input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

.accommodation-details input:focus {
  border-color: #96b1ad;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 255, 253, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: none;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.modal-content button:nth-child(1) {
  background: #4caf50;
  color: white;
}

.modal-content button:nth-child(2) {
  background: #f44336;
  color: white;
}

.modal-content button:hover {
  background: #3e6b7a;
}
