/* banner.css */

* {
    box-sizing: border-box;
}

#stickyBanner {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60px;
    max-height: 80px;
    padding: 1vh;
    gap: 1vw;
    display: flex;
    align-items: center;
    z-index: 3; /* Ensure the banner stays on top */
}

.spacer {
    display: flex;
    flex-grow: 1;
}

#stickyBanner img {
    min-height: 30px;
    height: 10vh;
    max-height: 50px;
    width: auto;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    margin-left: 20px;
}

#stickyBanner img:hover {
    border-style: none;
}

.rightButtons {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 0;
    gap: 16px; /* Increased spacing between buttons */
    margin-right: 20px;
}

.rightButtons button {
    background-color: transparent; /* Make button background transparent */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 18px; /* Increased font size */
    font-weight: bold; /* Bold text */
    padding: 10px 20px; /* Adjust padding */
}

.rightButtons button:hover {
    text-decoration: underline; /* Optional: underline text on hover */
}

.transparent {
    background-color: transparent !important; /* Transparent background for homepage */
    color: white; /* White text color for buttons on homepage */
}

.colored {
    background-color: #96b1ad !important; /* Colored background for other pages */
}

.colored .rightButtons button {
    color: black; /* Black text color for buttons on other pages */
}

@media only screen and (max-width: 500px) {
    #stickyBanner {
        padding: 8px;
        height: 10%;
        gap: 4px;
    }
    #stickyBanner img {
        height: 8vh;
        padding-left: 10px;
    }
}

