* {
    box-sizing: border-box;
}

#stickyBanner {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60px;
    max-height: 80px;
    padding: 1vh;
    gap: 1vw;
    display: flex;
    align-items: center;
    background-color: bisque;
}
.spacer {
    /* padding: 10px; */
    display: flex;
    flex-grow: 1;
}
.leftButtons {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow-x: auto;
    gap: 20px;

    background-color: rgba(0, 0, 0, 0);
    border-style: double;
    height: fit-content ;
}
/* .leftButtons img { */
#stickyBanner img {
    min-height: 30px;
    height: 5vh;
    max-height: 40px;

    width: auto;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}
#stickyBanner img:hover {
    border-style: none;
}
.rightButtons {
    height: 100%;
    display: flex;
    align-items: center;
    flex-grow: 0;

    background-color: rgba(0, 0, 0, 0);
    border-style: double;

}

@media only screen and (max-width: 500px) {
    #stickyBanner {
        padding: 8px;
        height: 5%;
        gap: 4px;
    }
    #stickyBanner img {
        height: 4vh;
        
        padding-right: 3px;
    }
    
}