button {
    color: white;
    font-size: 16px;
    text-wrap: nowrap;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: antiquewhite;
    background-color: rgb(0, 0, 0);
    height: auto;
    width: auto;
}
button:hover{
    border-color: black;
}
button.small {
    font-size: 12px;
    padding: 5px 10px;
}
button.large {
    font-size: 24px;
    padding: 12px 32px;
}
button.form {
    padding: 5px 10px;
    color: black;
    background: antiquewhite;
    border-color: antiquewhite;
    border-style: none;
}


@media only screen and (max-width:500px) {
    button {
        font-size: 12px;
        padding: 8px 16px;
    }
}
