button {
    color: white;
    font-size: 16px;
    text-wrap: nowrap;
    padding: 10px 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: antiquewhite;
    background-color: #015a6c;
    height: auto;
    width: auto;
}
button:hover{
    border-color: #015a6c;
}
/* #For alternative Button Sizes */
button.small {
  font-size: 12px;
  padding: 5px 10px;
}
button.large {
  font-size: 36px;
  padding: 12px 32px;
}
/* For the Homepage */
button.startPlanning {
  background-color: transparent !important; /* Remove the background color */
  border: 2px solid white !important; /* Add a white border */
  color: white !important; /* Keep the text color white */
  padding: 10px 20px !important;
  font-size: 24px !important;
  cursor: pointer !important;
  margin-top: 6px !important;
  font-family: 'Instrument Sans', sans-serif !important; /* Ensure the font is consistent */
  transition: background-color 0.3s, color 0.3s !important; /* Smooth transition for hover effects */
}

button.startPlanning:hover {
  background-color: white !important; /* Optional: Add a white background on hover */
  color: #334B48 !important; /* Optional: Change text color on hover */
}

/* #For the form filling on the Login/SignUp page */
button.form {
    padding: 5px 10px;
    color: #015a6c;
    background: antiquewhite;
    border-color: antiquewhite;
    border-style: none;
}

/* #For Banner Hidden Buttons */
button.user {
  background-color: cornflowerblue;
}
button.profile {
  display: none;
}
button.user:hover + button.profile {
  display: flex;
}


@media only screen and (max-width:500px) {
    button {
        font-size: 12px;
        padding: 8px 16px;
    }
}