/* src/components/card.css */


.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-details {
    padding: 10px;
    text-align: left; /* Align text to the left */
}

.card-details h2 {
    margin: 0 0 10px; /* Increased bottom margin to separate from paragraphs */
    font-size: 18px;
}

.card-details p {
    margin: 10px 0; /* Increased vertical margin */
    color: #777;
    text-align: left; /* Align paragraph text to the left */
    font-size: 14px;
}
