/* src/pages/communityPage.css */
.community-page {
    font-family: Arial, sans-serif;
    padding-top: 80px; /* Adjust this value as needed */
}

.content {
    padding: 20px;
    text-align: center;
}

.search-bar,
.filter-bar {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-bar {
    margin-bottom: 20px;
}

.itineraries {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container {
    margin: 20px;
    text-align: left;
}

/* Styles for cards */
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-details {
    padding: 10px;
}

.card-details h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card-details p {
    margin: 5px 0;
    color: #777;
}