/* src/pages/communityPage.css */
.community-page {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.content {
    padding: 20px;
    text-align: center;
    margin-top: 80px; /* Adjusted to push content below the banner */
}

.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 60%;
}

.filter {
    position: relative;
    margin-left: 8px;
}

.filter-button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    text-align: center;
    color: #666;
    width: 100px;
}

.filter-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    width: 250px;
    text-align: center;
    color: black;
}

.filter:hover .filter-options {
    display: block;
}

.itineraries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.card-container {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
    text-align: center;
}

.card-component {
    margin-bottom: 10px;
}

.button-component {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {
    .itineraries {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .itineraries {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .itineraries {
        grid-template-columns: 1fr;
    }
}
