
.preferences-page .preferences-container {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 100%;
    margin:auto; /* Ensure there is no auto margin that could cause whitespace */
    text-align: left;
    background-image: url('../../../components/hogwarts.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    box-sizing: border-box; /* Include padding in element's total width and height */
}

.preferences-page .preferences-container h1 {
    font-size: 48px;
    margin-top: 70px;
    margin-bottom: -10px;
    text-align: center;
    color: #ffffff;
}

.preferences-page .preferences-container p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
}

.preferences-container main {
    flex-grow: 1; /* Allow main content to grow and fill remaining space */
}

.preferences-page .form-box {
    background-color: #ffffffcc;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 800px;
    margin-left: 220px;
}

.preferences-page form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preferences-page .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.preferences-page label {
    font-weight: bold;
}

.preferences-page .options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.preferences-page button {
    background-color: #0f4352;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.preferences-page .next-button {
    align-self: flex-end;
    margin-top: 20px;
}

/* Styles for the dietary restriction section to match the provided UI design */
.preferences-page .dietary-restriction-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.preferences-page .dietary-restriction-container .selected-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: -10px;
}

.preferences-page .selected-option {
    background-color: #377586; /* Match the other buttons' background color */
    color: rgb(255, 255, 255); /* Match the other buttons' text color */
    border: none;
    padding: 1px 5px; /* Match the other buttons' padding */
    cursor: pointer;
    border-radius: 5px; /* Match the other buttons' border radius */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.preferences-page .selected-option span {
    margin-right: -10px;
    margin-left: 10px;
}

.preferences-page .selected-option button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Dropdown Styles */
.preferences-page .dropdown {
    position: relative;
    width: 530px;
    display: flex; /* Use flexbox to align elements horizontally */
    align-items: center;
    z-index: 1; /* Ensure it is below the banner */
}

.preferences-page .dropdown input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px; /* Adjusted border-radius */
    font-size: 16px;
    box-sizing: border-box; /* Ensure the input doesn't resize */
    margin-right: 10px; /* Add margin to the right of the input */
}

.preferences-page .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Set width to 100% of the parent container */
    max-width: 300px; /* Ensure it doesn't exceed the max width of the parent */
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    padding: 0;
    box-sizing: border-box; /* Ensure the dropdown doesn't resize */
}

.preferences-page .dropdown-menu .option {
    display: flex;
    align-items: center; /* Center align items vertically */
    padding: 8px;
    cursor: pointer;
    justify-content: flex-start; /* Align items to the start */
}

.preferences-page .dropdown-menu .option:hover {
    background-color: #00000027;
}

.preferences-page .dropdown-menu .option.selected {
    background-color: #d1e7dd; /* Highlight selected options */
}

/* Ensuring Dropdown and Custom Input Box Alignment */
.preferences-page .dietary-restriction-container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Add gap between elements */
    flex-wrap: wrap;
    margin-bottom: 40px;

}

/* Travel Style Section */
.preferences-page .travel-style-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    margin-bottom: 40px;
}

.preferences-page .travel-style-option {
    flex: 1 1 80%; /* Make each option take up about 45% of the container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, filter 0.2s;
    max-width: 200px; /* Maximum width for each box */

}

.preferences-page .travel-style-option img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    transition: filter 0.2s; /* Add transition for filter */
}

.preferences-page .travel-style-option.selected {
    background-color: #377586; /* Highlight selected travel style options */
    color: #fff;
    transform: scale(1.05); /* Slightly increase the size when selected */
}

.preferences-page .travel-style-option.selected span {
    color: #fff; /* Change text color to white when selected */
}

.preferences-page .travel-style-option:active {
    transform: scale(1.1); /* Add pop-up effect when clicked */
}

/* Category of Activities Section */
.preferences-page .options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.preferences-page .option-button {
    background-color: #ffffff;
    color: rgb(41, 41, 41);
    border: 1px solid #ced4da;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s; /* Add transition for background color and transform */
}

.preferences-page .option-button.selected {
    background-color: #377586; /* Highlight selected category options */
    color: #fff;
    transform: scale(1.05); /* Slightly increase the size when selected */
}

.preferences-page .option-button:active {
    transform: scale(1.1); /* Add pop-up effect when clicked */
}

/* Price Range Section */
.preferences-page .price-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px 0;
}

.preferences-page .price-range-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    gap: 180px;
    font-size: 14px;
}

.preferences-page .price-range-labels div {
    text-align: center;
    gap: 100px;
    flex: 1;
}

.preferences-page .price-range-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 10px;
    justify-content: center;
}

.preferences-page .price-range-inputs input {
    width: 100px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    text-align: center;
}

.preferences-page .price-range-inputs .range-label {
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
}

.preferences-page .price-range-track {
    width: 100%;
    height: 8px;
    background: #ccc;
    border-radius: 3px;
    position: relative;
    margin-top: 10px;
}

.preferences-page .price-range-track .price-range-track-active {
    background: linear-gradient(to right, #5d9dae, #0e1d22);
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.preferences-page .price-range-thumb {
    width: 18px;
    height: 18px;
    background: #377586;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0px 2px 6px #AAA;
}

.preferences-page .budget-tagline {
    font-size: 14px !important;
    color: #000000!important;
    margin-bottom: -30px;
    margin-top: -5px;
    text-transform: none;
}

.preferences-page .budget-tagline1 {
    font-size: 14px !important;
    color: #000000 !important;
    margin-bottom: 0px;
    margin-top: -35px;
}

/* Error Message */
.preferences-page .error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

/* Add this to your CSS file */
.preferences-page .loading-container {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 100%;
    margin:auto; /* Ensure there is no auto margin that could cause whitespace */
    text-align: left;
    background-image: url('../../../components/lago di barise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    box-sizing: border-box; /* Include padding in element's total width and height */
}

.preferences-page .loading-container h1 {
    font-size: 96px;
    margin-top: 70px;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}

.preferences-page .loading-container p {
    font-size: 24px;
    margin-top: -100px;
    text-align: center;
}
